footer
	.container
		.row
			.col-lg-4.contact
				.title-footer Liên Hệ
				ul
					li.phone +84 2693717868
					li.mail cs@tnikingcoffee.com
					li.address 198 Nguyễn Thị Minh Khai, P.6, Q.3, TP.HCM
			.col-lg-2.footer-link
				ul
					li
						a(href="#") Chuyện thương hiệu
					li
						a(href="#") Blog sự kiện
					li
						a(href="#") Hệ thống cửa hàng
			.col-lg-2.social-media
				.title-footer Chia sẻ liên kết
				ul
					li
						figure
							img.svg(src="./assets/images/icons/facebook.svg", alt="")
		
					li
						figure
							img.svg(src="./assets/images/icons/twitter.svg", alt="")
		
					li
						figure
							img.svg(src="./assets/images/icons/instagram.svg", alt="")
			.col-lg-2.footer-facebook
				.fb-page(data-href='https://www.facebook.com/kingcoffeeglobal/', data-tabs='', data-width='', data-height='', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
					blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/kingcoffeeglobal/')
						a(href='https://www.facebook.com/kingcoffeeglobal/') King Coffee
			.col-lg-2.footer-instagram
				figure
					img.ofc(src="./assets/images/icons/instagram.png", alt="", srcset="")
.copy-right
	.container
		.row.no-gutters
			.text-left
				p © KingCoffee 2019. All Rights Reserved.
			.text-right
				ul
					li
						a(href="#") Điều kiện
					li
						a(href="#") Điều khoản
					li
						a(href="#") Chính sách bảo mật