header
	.container
		.row.no-gutters
			.logo
				img(src="./assets/images/logo.png", alt="")
			.list-nav
				.nav-item
					a(href="#") chuyện thương hiệu
				.nav-item
					a(href="#") menu
				.nav-item
					a(href="#") tin tức
				.nav-item
					a(href="#") cửa hàng
				.nav-item
					a(href="#") tuyển dụng
				.nav-item
					a(href="#") nhượng quyền
				.nav-item
					a(href="#") liên hệ
				.nav-item
					a(href="#") thành viên
				.nav-item.language
					.language-item.active
						img(src="./assets/images/icons/vn.svg", alt="", srcset="")
					.language-item
						img(src="./assets/images/icons/en.svg", alt="", srcset="")
				.nav-item.search
					.icon
						img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
