header {
	position: fixed;
	width   : 100%;
	top     : 0;
	left    : 0;
	z-index : 500;

	.list-nav {
		display    : flex;
		align-items: center;
		margin-left: auto;

		.nav-item {
			margin-right: 45px;

			>a {
				text-transform: uppercase;
				color         : #ffffff;
			}

			&:last-child {
				margin-right: 0;
			}

			&.language {
				display      : flex;
				margin-right : 20px;
				padding-right: 20px;
				border-right : 1px solid #C1C1C1;

				.language-item {
					margin-right: 10px;
					opacity     : .3;

					&:last-child {
						margin-right: 0;
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}