header {
	position  : fixed;
	width     : 100%;
	top       : 0;
	left      : 0;
	z-index   : 500;
	background: transparent;
	transition: .3s all ease-in-out;
	z-index   : 500;

	.logo {
		height    : 120px;
		transition: .3s all ease-in-out;

		img {
			height: 100%;
			width : auto;
		}
	}

	.list-nav {
		display    : flex;
		align-items: center;
		margin-left: auto;

		.nav-item {
			margin-right: 45px;

			>a {
				text-transform: uppercase;
				color         : #ffffff;
				transition    : .3s all ease-in-out;
			}

			&:last-child {
				margin-right: 0;
			}

			&.language {
				display      : flex;
				margin-right : 20px;
				padding-right: 20px;
				border-right : 1px solid #C1C1C1;

				.language-item {
					margin-right: 10px;
					opacity     : .3;

					&:last-child {
						margin-right: 0;
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}

	&.active {
		background: #CC3029;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

		.logo {
			height    : 80px;
			transition: .3s all ease-in-out;
		}

		.list-nav {
			.nav-item {
				>a {
					font-size : 14px;
					transition: .3s all ease-in-out;
				}
			}
		}
	}
}