header {
	position  : fixed;
	width     : 100%;
	top       : 0;
	left      : 0;
	z-index   : 500;
	background: transparent;
	transition: .3s all ease-in-out;
	z-index   : 500;

	.logo {
		height    : 120px;
		transition: .3s all ease-in-out;

		img {
			height: 100%;
			width : auto;
		}
	}

	.button-mobile {
		cursor     : pointer;
		position   : relative;
		align-self : center;
		display    : inline-block;
		flex       : 0 0 24px;
		max-width  : 24px;
		height     : 15px;
		display    : none;
		margin-left: auto;

		.line {
			position     : absolute;
			content      : '';
			width        : 100%;
			height       : 2px;
			background   : #000000;
			top          : 1px;
			border-radius: 10px;

			&:after,
			&:before {
				position     : absolute;
				content      : '';
				width        : 100%;
				height       : 2px;
				background   : #000000;
				border-radius: 10px;
			}

			&:after {
				top: 6px;
			}

			&:before {
				top       : 12px;
				transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}

		&.active {
			.line {
				transform       : translate3d(0, 6px, 0) rotate(135deg);
				transition      : transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transition-delay: 0.075s;

				&:after {
					opacity: 0;
				}

				&:before {
					top      : -6px;
					transform: translate3d(0, 6px, 0) rotate(90deg);
				}
			}
		}
	}

	.list-nav {
		display    : flex;
		align-items: center;
		margin-left: auto;

		.nav-item {
			margin-right: 45px;

			>a {
				text-transform: uppercase;
				color         : #ffffff;
				transition    : .3s all ease-in-out;
			}

			&:last-child {
				margin-right: 0;
			}

			&.language {
				display      : flex;
				margin-right : 20px;
				padding-right: 20px;
				border-right : 1px solid #C1C1C1;

				.language-item {
					margin-right: 10px;
					opacity     : .3;

					&:last-child {
						margin-right: 0;
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}

	&.active {
		background: #CC3029;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

		.logo {
			height    : 80px;
			transition: .3s all ease-in-out;
		}

		.list-nav {
			.nav-item {
				>a {
					font-size : 14px;
					transition: .3s all ease-in-out;
				}
			}
		}
	}

	@media (max-width: 1699.98px) {
		.logo {
			height: 90px;
		}

		.list-nav {
			.nav-item {
				margin-right: 30px;

				>a {
					font-size: 14px;
				}
			}
		}

		&.active {
			.logo {
				height: 90px;
			}

			.list-nav {
				.nav-item {
					>a {
						font-size: 14px;
					}
				}
			}
		}
	}

	@media (max-width: 1439.98px) {
		.list-nav {
			.nav-item {
				margin-right: 15px;

				>a {
					font-size: 13px;
				}
			}
		}

		&.active {
			.list-nav {
				.nav-item {
					>a {
						font-size: 13px;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		background: #CC3029;

		.logo {
			height: 80px;
		}

		.button-mobile {
			display: block;
		}

		.list-nav {
			position      : absolute;
			background    : #ffffff;
			top           : 80px;
			left          : -100%;
			width         : 80%;
			height        : 100vh;
			flex-direction: column;
			margin-left   : 0;
			align-items   : unset;
			padding       : 15px;
			transition    : .3s all ease-in-out;

			.nav-item {
				margin-right : 0;
				margin-bottom: 25px;

				>a {
					color: #2B1B13;
				}

				&.language {
					margin-right : 0;
					padding-right: 0;
					border-right : 0;

					.language-item {
						margin-right: 10px;
						opacity     : .3;

						&:last-child {
							margin-right: 0;
						}

						&.active {
							opacity: 1;
						}
					}
				}
			}

			&.active {
				left: 0;
			}
		}

		&.active {
			.logo {
				height: 80px;
			}
		}
	}
}