.index-1
	.slider-Home
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<6;i++)
					.swiper-slide
						a(href="#")
							figure
								img.ofc(src="./assets/images/index/index-1.jpg", alt="", srcset="")
		.swiper-pagination