.index-1
	.home-slider
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<6;i++)
					.swiper-slide
						figure
							img.ofc(src="./assets/images/index/banner.jpg", alt="", srcset="")
		.swiper-pagination