.index-2
	.container
		.box-content
			.title
				h2 câu chuyện thương hiệu
				.desc
					p "King Coffee được sự hậu thuẫn từ một quốc gia trồng cà phê, điều mà một số thương hiệu cà phê khác trên thế giới tuy cũng mạnh nhưng chưa có được."
					p TNI - Trung Nguyên International có trụ sở tại Singapore được Bà Lê Hoàng Diệp Thảo – đồng sáng lập tập đoàn Trung Nguyên, thành lập từ năm 2008. Hiện nay, trụ sở chính của Trung Nguyên International đặt tại TP.HCM (Việt Nam) dưới sự điều hành của bà Lê Hoàng Diệp Thảo.
			a(href="#").btn xem thêm