.index-3
	.container._block-index-3
		.row
			.content.left
				figure
					img.blur-up.lazyload(data-src="./assets/images/index/item-index-3.png", alt="", srcset="")
			.content.right
				.box-content
					.title
						h2 câu chuyện thương hiệu
						.desc
							p Bà Lê Hoàng Diệp Thảo hiện là Tổng Giám đốc Trung Nguyên International - TNI. Bà cũng là người đồng sáng lập, đồng sở hữu Tập đoàn cà phê Trung Nguyên - một thương hiệu quốc gia của Việt Nam.
					a(href="#").btn xem thêm