.index-4
	.row.no-gutters
		.col-lg-3
			figure
				a(href="#")
					.box-img
						img.ofc.lazyload(data-src="./assets/images/index/item-index-4/1.png", alt="", srcset="")
					figcaption
						h3 luxury
		.col-lg-3
			figure
				a(href="#")
					.box-img
						img.ofc.lazyload(data-src="./assets/images/index/item-index-4/2.png", alt="", srcset="")
					figcaption
						h3 premium
		.col-lg-3
			figure
				a(href="#")
					.box-img
						img.ofc.lazyload(data-src="./assets/images/index/item-index-4/3.png", alt="", srcset="")
					figcaption
						h3 express
		.col-lg-3
			figure
				a(href="#")
					.box-img
						img.ofc.lazyload(data-src="./assets/images/index/item-index-4/4.png", alt="", srcset="")
					figcaption
						h3 kiosk