.index-7
	figure
		.box-img
			img.ofc.lazyload(data-src="./assets/images/index/index-7.png", alt="")
		figcaption
			h2 NHƯỢNG QUYỀN THƯƠNG HIỆU
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis. Nulla consequat massa quis enim.
			p Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, venenatis vitae, justo.
			a.btn(href="/") xem thêm