.index-8
	.container
		.title
			h2 TRẢI NGHIỆM CỦA KHÁCH HÀNG
		.slider-Customer
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<3;i++)
						.swiper-slide
							figure
								.box-img
									img.ofc(src="./assets/images/index/customer-"+i+".jpg", alt="", srcset="")
								figcaption
									h5 Như Quỳnh
									p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
				.swiper-button-prev
				.swiper-button-next