.index-9
	.container
		.block-list-news
			.title-index-9 BLOG SỰ KIỆN
			.list-news
				.item-news
					a(href="tintuc-ct.html")
						figure
							.box-img
								img.blur-up.lazyload.ofc(data-src="./assets/images/index/news/1.jpg", alt="", srcset="")
							figcaption
								.box-content
									h3 Chào đón cửa hàng King Coffee đầu tiên tại Nha Trang vào ngày 29/11
									p King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này.
				.item-news
					a(href="tintuc-ct.html")
						figure
							.box-img
								img.blur-up.lazyload.ofc(data-src="./assets/images/index/news/2.jpg", alt="", srcset="")
							figcaption
								.box-content
									h3 Chào đón cửa hàng King Coffee đầu tiên tại Nha Trang vào ngày 29/11
									p King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này.
				.item-news
					a(href="tintuc-ct.html")
						figure
							.box-img
								img.blur-up.lazyload.ofc(data-src="./assets/images/index/news/3.jpg", alt="", srcset="")
							figcaption
								.box-content
									h3 Chào đón cửa hàng King Coffee đầu tiên tại Nha Trang vào ngày 29/11
									p King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này.
				.item-news
					a(href="tintuc-ct.html")
						figure
							.box-img
								img.blur-up.lazyload.ofc(data-src="./assets/images/index/news/4.jpg", alt="", srcset="")
							figcaption
								.box-content
									h3 Chào đón cửa hàng King Coffee đầu tiên tại Nha Trang vào ngày 29/11
									p King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này.
				.item-news
					a(href="tintuc-ct.html")
						figure
							.box-img
								img.blur-up.lazyload.ofc(data-src="./assets/images/index/news/5.jpg", alt="", srcset="")
							figcaption
								.box-content
									h3 Chào đón cửa hàng King Coffee đầu tiên tại Nha Trang vào ngày 29/11
									p King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này. King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này King Coffee sẽ ra mắt cửa hàng mới tại “Xứ Trầm, Biển Yến” vào ngày 29/11 này..